<!DOCTYPE html>
<html>
<head>
  <title>ЛР6</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css' %>
  //Использование стандартной библиотеки стилей bootstrap

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto"><%= link_to "Все отчеты", home_path %></h5>
  <span class="btn btn-outline-primary"><%= link_to "Добавить новый отчет", new_report_path %></span>
</div>
<div class="container">
  <%= yield %>
</div>

</body>
</html>